
  @font-face {
    font-family: spartan;
    src: url(../../utils/font/LeagueSpartan-VariableFont_wght.ttf);
  }

  .card-cadastro{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .corpo {
    display: flex;
  }

  .card-cadastro .title{
    display: flex;
    color: #077DB0;
    font-size: 6vh;
    font-weight: bolder;
  }

  .card-cadastro .itens{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-cadastro .itens div{
    display: flex;
    justify-content: space-between;
    width: 18vw;
  }

  .card-cadastro .itens a{
    color: black;
  }

  .card-cadastro .select{
    width: 30%;
  }

  .card-cadastro .title a{
    cursor: pointer;
    color: #52A4C8;
  }
  
  /* img */
  
  .imagem{
    width: 50%;
    height: 100vh;
    /* background-image: url(../../utils/assets/velhaRuiva.jpeg); */
    background-size: cover;
  }

  .imagem .button-voltar{
    background-image: url(../../utils/assets/setaVoltar.png);
    margin: 5vh;
    cursor: pointer;
    background-size: cover;
    width: 3vw;
    height: 6.3vh;
  }
