@font-face {
  font-family: spartan;
  src: url(../../utils/font/LeagueSpartan-VariableFont_wght.ttf);
}

.card-cadastro{
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100vh;
}

.corpo {
  display: flex;
}

.card-cadastro .title{
  display: flex;
  color: #077DB0;
  font-size: 6vh;
  font-weight: bolder;
}

.card-cadastro .title a{
  cursor: pointer;
  color: #52A4C8;
}

.imagem{
  width: 35%;
  height: 100vh;
  background-color: black;
}

.card-cadastro .itens{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-cadastro .itens .input{
  width: 30%;
}

.card-cadastro .itens .button{
  width: 29%;
  background-color: #077DB0;
}

.card-cadastro .itens a{
  color: black;
}

/* img */

.imagem{
  width: 50%;
  height: 100vh;
  background-color: #80C1DE;
}

.imagem .button-voltar{
  background-image: url(../../utils/assets/setaVoltar.png);
  margin: 5vh;
  cursor: pointer;
  background-size: cover;
  width: 3vw;
  height: 6.3vh;
}
