.container2 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
   
  }

  .container2 .tela{
background-color: aqua;
  }

 .cardsInfo{
    width: 25vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: 5px 5px 10px #222222;
    display: flex;
    align-items: center;
    margin-left:3vh ;
  }
  /*

  */

  /* .procura{
   
    display: flex;
    align-items: center;
    flex-direction: column;
} */
  
