.container2 {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0 auto;
 
}

.container2 .tela {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: space-between; 
  padding: 2vh; 
  background-color: aqua;
}

.cardsInfo {
  flex: 1; 
  max-width: 30vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px; 
  box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.2); 
  display: flex;
  flex-direction: column; /* Coloca o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo */
  margin: 2vh; /* Margem uniforme ao redor do card */
  overflow: hidden; /* Impede o estouro de conteúdo */
}

.cardsInfo img {
  width: 100%; /* A imagem ocupa 100% da largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Bordas arredondadas, se desejado */
  object-fit: cover; /* Cobre o espaço do contêiner, mantendo a proporção */
}


@media (max-width: 768px) {
  .container2 .tela {
      flex-direction: column; /* Muda a direção para coluna em telas menores */
      padding: 1vh; /* Reduz o padding */
  }

  .cardsInfo {
      width: 100%; /* Cards ocupam 100% da largura em telas pequenas */
      padding: 2vh; /* Padding interno */
  }
}

@media (max-width: 1200px) {
  .cardsInfo {
      max-width: 45vw; /* Aumenta a largura máxima dos cards em telas médias */
      margin: 1vh; /* Reduz a margem */
  }
}
