.chatList {
  background-color: #2C7595;
  color: white;
  width: 30vw;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 40vh;
}

.header {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.header img { 
  height: 40px;
}

.titles {
  display: flex;
  gap: 30px;
  margin-left: 10px;
}

.home {
  margin-left: 5px;
  color: darkred;
  font-weight: 800;
}

.users {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: 1%;
  height: calc(100% - 50px); 
}

.users::-webkit-scrollbar {
  background-color: #060f25;
  width: 3px;
  border-radius: 9px;
  padding: 9%;
}

.users::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #80C1DE;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2C7595;
  height: 9vh; 
  cursor: pointer;
}

.userPhoto {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: bold;
}

.userMessage {
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}
