.chatList {
  background-color: #077DB0;
  color: white;
  width: 25vw;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 90.5vh;
  max-height: auto;
}

.users {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: 1%;
  height: 100%; 
}

.users::-webkit-scrollbar {
  background-color: #060f25;
  width: 2vw;
  border-radius: 2vh;
  padding: 9%;
}

.users::-webkit-scrollbar-thumb {
  border-radius: 2vh;
  background-color: #80C1DE;
}

.user {
  display: flex;
  align-items: center;
  background-color: #0d5f83;
  padding: 2vh;
  border-radius: 2vh;
  height: 8vh;
  margin-right: 1vh; 
  margin-left: 1vh;
  cursor: pointer;
  transition: 0.5s;
}

.user:hover{
  transition: 0.5s;
  background-color: #80C1DE;
}

.userPhoto {
  width: 4.5vw;
  height: 9vh;
  border-radius: 100%;
  margin-right: 2vh;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: bold;
}
