.card {

        margin-top: 5vh;
        margin-left: 10px;
        width: 20vw;
        height: 48vh; 
        background-color:  #ffffff;
        color: #000000;
        border-radius: 0px;
        box-shadow: 3px 3px 6px #222222;
        /* padding: 20px; */
        display: flex;
        flex-direction: column;
        align-items: space-around;
        border-radius: 5px;
    }

  .card .centro-top  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.card .centralizar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 1vh;
}

.card .dias{
 display: flex;
 justify-content: center;
}

.card .centro-top img{
width: fit-content;
height: fit-content;
border: 2px solid #C1231F; /* Cor do contorno */
border-radius: 100%; /* Transforma o contorno em um círculo */
padding: 5px; /* Espaço entre o contorno e a imagem */
}

.card img{
  margin-top: 1.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 18vh;
}

.card p{
  font-weight: 300px;
  font-size: 25px;
  color: #252F46;
}


.centralizar  div{
  width: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@media screen and (min-width: 1920px ) {
  .card {
      width: 20vw;
      height: 55vh;
     
  }
  .card img{
    margin-top: 1.6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6vw;
      height: 15vh;
     
  }

  
}


@media screen and (max-width: 1800px) {
  .card {
      width: 20vw;
      max-height: 51vh;
  }


}

@media screen and (max-width: 1600px) {
  .card {
      width: 22vw;
      max-height: 51vh;
  }
  .card img{
    margin-top: 1.6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6vw;
      height: 15vh;
  }

  
}

@media screen and (max-width: 1450px) {
  .card {
      width: 24.8vw;
      height: 50vh;
  }
  .card img{
    margin-top: 1.6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6vw;
      height: 15vh;
     
  }
}

@media screen and (max-width: 1370px) {
  .card {
      width: 21.8vw;
      height: 47vh;
      padding-right: 3.5vh;
  }
  .card img{
    margin-top: 1.6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6vw;
      height: 15vh;
  }

}

@media screen and (max-width: 1330px) {
  .card {
    width: 21.8vw;
    height: 47vh;
    padding-right: 3.5vh;
  }

  .card img {
    margin-top: 1.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 15vh;
  }

  .centralizar .tempo {
    width: 1vw;
    height: 5vh;
    /* Aplicando line-clamp para limitar o texto a duas linhas */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}


@media screen and (max-width: 1250px) {
  .card {
      width: 25vw;
      height: 49vh;
  }

  .centralizar .tempo {
    width: 1vw;
    height: 5vh;
    /* Aplicando line-clamp para limitar o texto a duas linhas */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .card  h3 {
     width: 10vh;
}

}
@media screen and (max-width: 900px) {
  .card{
      width: 35vw;
      height: 45vh;
  }
}
 
 
