
.apresentacao{
    margin-top: 10vh;
}

.apresentacao .texto{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10vh;
    height: 50vh;
}

.apresentacao div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.apresentacao .texto p{
    display: flex;
    height: 15vh;
    position: relative;
    top: 10vh;
}

.apresentacao .texto h1{
    color: #ffff;
    font-size: 5vh;
    width: 70%;
    
}

.apresentacao div h1 span{
    color: #C1231F;
}

.apresentacao div button{
    background-color: #ffff;
    color: #2C7595;
    color: #930B07;
    font-size: medium;
    border-radius: 0.8vh;
    border: 0;
    width: 15vw;
    height: 7vh;
    cursor: pointer;
}

.apresentacao .forma{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: #EDF2FB;
    width: 100%;
    height: 55vh;
}

.apresentacao .imagem_idosos{
    position: absolute;
    top: 30vh;
    left: 49.5vw;
}

.apresentacao .imagem_idosos img{
    z-index: 3;
}

.apresentacao .imagem_idosos .cube1{
    z-index: 2;
    position: absolute;
    border-radius: 1vh;
    width: 80vh;
    height: 45vh;
    top: 20vh;
    left: 8vh;
    background-color: #509CBD;
}

.apresentacao .imagem_idosos .cube2{
    z-index: 1;
    position: absolute;
    border-radius: 1vh;
    width: 71.5vh;
    height: 35vh;
    top: 5vh;
    left: 27vh;
    background-color: #80C2DE;
}