.approvalIcon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.porQueEscolher {
  margin: 0;
  height: 53.8px;
  width: 926px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.approvalParent {
  width: 1365px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  padding-left: 3vh;
  padding-bottom: 2vh;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--white);
  font-family: var(--font-league-spartan);
}
.bemEstarEmPrimeiro {
  font-family: var(--font-open-sans);
}
.bemEstarEmPrimeiroLugar {
  margin-block-start: 0;
  margin-block-end: 32px;
}
.melhorarAQualidade {
  color: var(--color-lightblue);
}
.deVidaDos {
  color: var(--white);
}
.aSniorCareOfereceUmaSolu {
  margin: 0;
}
.bemEstarEmPrimeiroContainer {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.healthyFoodIcon {
  height: 79px;
  width: 79px;
  position: relative;
  object-fit: cover;
}
.foodIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-207xl);
}
.bemEstarEmPrimeiroLugarAParent {
  width: 671px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.confiabilidadeGarantida {
  margin-block-start: 0;
  margin-block-end: 14.28px;
}
.selecionadosEVerificados {
  color: var(--color-lightblue);
}
.osCuidadoresDaSniorCareS {
  margin: 0;
}
.confiabilidadeGarantidaOsContainer {
  width: 654px;
  position: relative;
  line-height: 32px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.confiabilidadeGarantidaOsCuWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-family: var(--font-league-spartan);
}
.wellbeingFeatures {
  width: 1039px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
  min-width: 1039px;
  max-width: 100%;
}
.honestyIcon {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: contain;
}
.simplicidadeEConvenincia {
  margin-block-start: 0;
  margin-block-end: 19.33px;
}
.perfisDetalhadosAvaliaes {
  margin: 0;
}
.simplicidadeEConveninciaContainer {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.honestyParent {
  width: 556px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 28px;
  min-width: 556px;
}
.honestyParent,
.porQue,
.wellbeingFeaturesParent {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.wellbeingFeaturesParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-open-sans);
}
.porQue {
  width: 110%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 73px;
  box-sizing: border-box;
  gap: var(--gap-26xl);
  line-height: normal;
  letter-spacing: normal;
  background: linear-gradient(75deg, #252F46 59%, #80C1DE 50%);

}

.porQue .content{
  margin-top: 4vh;
  margin-left: 6.8vh;
}

.porQue .teste{
 margin-left: 5vh ;
  
}
@media screen and (max-width: 1625px) {
  .honestyParent,
  .wellbeingFeatures {
    flex: 1;
  }
  .wellbeingFeaturesParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .approvalParent {
    flex-wrap: wrap;
  }
  .wellbeingFeatures {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .porQueEscolher {
    font-size: var(--font-size-32xl);
  }
  .wellbeingFeatures {
    gap: 21px;
  }
  .honestyParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .porQueEscolher {
    font-size: var(--font-size-19xl);
  }
  .bemEstarEmPrimeiroContainer {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .foodIcon {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .confiabilidadeGarantidaOsContainer,
  .simplicidadeEConveninciaContainer {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .porQue {
    gap: var(--gap-3xl);
  }
}
