
.servico{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EDF2FB;
}

.servico h1{
    margin-top: 8vh;
    font-family: spartan;
    color: #252F46;
    font-size: 10vh;
    font-weight: 500;
}

.servico p{
    width: 50%;
    font-size: 4vh;
    font-weight: 20;
    font-family: spartan;
}

.servico button{
    background-color: #C1231F;
    border: 0;
    border-radius: 1vh;
    font-family: spartan;
    font-weight: 10;
    color: #ffff;
    font-size: 2.5vh;
    width: 15vw;
    height: 7vh;
    margin-bottom: 20vh;
    margin-top: 4vh;
}

.servico .obj1{
    position: absolute;
    width: 20vh;
    height: 20vh;
    left: 0vh;
    top: 218.6%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 70%;
    background-color: #80C1DE;
}

.servico .obj2{
    position: absolute;
    width: 25vh;
    height: 25vh;
    top: 270vh;
    right: 17vw;
    border-radius: 65%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 40% ;
    background-color: #80C1DE;
}

.servico .obj3{
    position: absolute;
    width: 40vh;
    height: 35vh;
    top: 258vh;
    right: 0vh;
    border-top-left-radius: 80%;
    border-top-right-radius: 5vh;
    border-bottom-left-radius: 10%;
    background-color: #509CBD;
}