/* font */

@font-face {
    font-family: josefin;
    src: url(../../utils/assets/font/JosefinSlab-Italic-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: spartan;
    src: url(../../utils/assets/font/LeagueSpartan-VariableFont_wght.ttf);
  }
  
 /* global */

body{
    padding: 0;
    margin: 0;
    background-color: #2C7595;
    font-family: monospace;
}

.logo{
    background-image: url(../../utils/assets/Logo\ horizontal.png );
    background-size: 100%;
    width: 20vh;
    height: 5vh;
}

/* header/navbar */

.header{
    padding: 2vh;
    display: flex;
    border-bottom: 0.2vh #ffff solid;
    justify-content: space-between;
    align-items: center;
}

.header div{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    text-align: center;
    align-items: center;
}

.header img{
    width: 15vw;
}

.header div a{
    text-decoration: none;
    font-size: 3vh;
    font-weight: 500;
    color: #ffff;
}

.header div button{
    background-color: #ffff;
    color: #2C7595;
    border-radius: 0.8vh;
    border: 0;
    width: 7vw;
    height: 5.5vh;
    cursor: pointer;
}

/* apresentação */
/* 
.apresentacao{
    margin-top: 10vh;
}

.apresentacao .texto{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10vh;
    height: 50vh;
}

.apresentacao div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.apresentacao .texto p{
    display: flex;
    height: 15vh;
    position: relative;
    top: 10vh;
}

.apresentacao .texto h1{
    color: #ffff;
    font-size: 5vh;
    width: 70%;
    
}

.apresentacao div h1 span{
    color: #C1231F;
}

.apresentacao div button{
    background-color: #ffff;
    color: #2C7595;
    color: #C1231F;
    font-size: medium;
    border-radius: 0.8vh;
    border: 0;
    width: 15vw;
    height: 7vh;
    cursor: pointer;
}

.apresentacao .forma{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: #EDF2FB;
    width: 100%;
    height: 55vh;
}

.apresentacao .imagem_idosos{
    position: absolute;
    top: 30vh;
    left: 49.5vw;
}

.apresentacao .imagem_idosos img{
    z-index: 3;
}

.apresentacao .imagem_idosos .cube1{
    z-index: 2;
    position: absolute;
    border-radius: 1vh;
    width: 65vh;
    height: 30vh;
    top: 20vh;
    left: 8vh;
    background-color: #509CBD;
}

.apresentacao .imagem_idosos .cube2{
    z-index: 1;
    position: absolute;
    border-radius: 1vh;
    width: 65vh;
    height: 35vh;
    top: 5vh;
    left: 25vh;
    background-color: #80C2DE;
} */

/* sobre a empresa */
/* 
.empresa {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF2FB;
    border-bottom: #509CBD 0.7vh solid;
}

.empresa div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empresa h2{
    font-family: josefin;
    font-size: 3vh;
}

.empresa div h1{
    font-size: 8vh;
    font-weight: 100;
}

.linha{
    height: 0.7vh;
    background-color: #509CBD;
    width: 77vh;
}

.empresa .descricao{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.empresa .descricao p{
    width: 40%;
    font-size: 4vh;
    font-weight: 20;
    font-family: spartan;
}

.empresa .descricao img{
    width: 50%;
} */

/* serviços */
/* 
.servico{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EDF2FB;
}

.servico h1{
    margin-top: 8vh;
    font-family: spartan;
    color: #252F46;
    font-size: 10vh;
    font-weight: 500;
}

.servico p{
    width: 50%;
    font-size: 4vh;
    font-weight: 20;
    font-family: spartan;
}

.servico button{
    background-color: #C1231F;
    border: 0;
    border-radius: 1vh;
    font-family: spartan;
    font-weight: 10;
    color: #ffff;
    font-size: 2.5vh;
    width: 15vw;
    height: 7vh;
    margin-bottom: 20vh;
    margin-top: 4vh;
}

.servico .obj1{
    position: absolute;
    width: 20vh;
    height: 20vh;
    left: 0vh;
    top: 232.3vh;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 70%;
    background-color: #80C1DE;
}

.servico .obj2{
    position: absolute;
    width: 25vh;
    height: 25vh;
    top: 285vh;
    right: 17vw;
    border-radius: 65%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 40% ;
    background-color: #80C1DE;
}

.servico .obj3{
    position: absolute;
    width: 40vh;
    height: 35vh;
    top: 275vh;
    right: 0vh;
    border-top-left-radius: 80%;
    border-top-right-radius: 5vh;
    border-bottom-left-radius: 10%;
    background-color: #509CBD;
} */