.JunteSe{
    margin-top: 23vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; 
    background-color: #2C7595;
 
}


.JunteSe .texto {
    width: 100%;
    height: 12vh;
    display: flex;

    align-items: flex-end;
    justify-content: flex-end;
      
}

.JunteSe h1{
    font-size: 4vh;
    color: aliceblue;
    outline-color: aliceblue;
        padding: 15px 20px; /* Ajuste conforme necessário */
        border: 5px solid rgb(255, 255, 255); /* Defina a cor e a espessura da borda */
        border-radius: 42px 0 0 42px; /* Arredonda a borda somente no lado esquerdo */
        border-right: none;
        width: 50vw;
    
}

.JunteSe .centraliza{
    position: relative; 
    margin-top: 5vh;
    margin-left: 34vh;

}
.JunteSe .img1 {
    margin-top: 8vh;
    display: flex;
    justify-content: flex-start;
    position: relative; /* Adicione position: relative */
    z-index: 5; /* Adicione um z-index maior do que o .obj4 */
}

.JunteSe  button{
    position: absolute;
    background-color: #ffff;
    color: #2C7595;
    color: #C1231F;
    font-size: 2.3vh;
    border-radius: 1.3vh;
    border: 0;
    width: 24vw;
    height: 8vh;
    cursor: pointer;
    top: 38vh;
    right: 58vh;
    z-index: 6;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.centraliza .borda {
    position: absolute;
    top: 7vh;
    right: 93vh;
    padding: 10px 20px; /* Ajuste conforme necessário */
    border: 5px solid rgb(255, 255, 255); /* Defina a cor e a espessura da borda */
    border-radius: 5vh; /* Arredonda a borda somente no lado esquerdo */
    width: 56vh;
    height: 63vh;
    z-index: 4;
   
}

.centraliza .obj4 {
    position: absolute;
    width: 60vh;
    height: 66vh;
    top: 10vh;
    right: 100vh;
    border-radius: 5vh;
    background-color: #80C1DE;
    z-index: 3;
   
}
 .JunteSe .img1{
    height: 67vh;
    width: 49vh;
    margin-top: 8vh;
    margin-left: 18vh;
    display: flex;
     justify-content: flex-start;

}

.JunteSe .img2 {
    position: relative; /* Adicione position: relative */
    z-index: 4; /* Adicione um z-index maior do que o .obj4 */
    height: 50vh;
    width: 36vh;
    margin-top: 8vh;
    left: 89vh;
    display: flex;
     justify-content: flex-end;
}

.JunteSe   .botao{
    position: absolute;
    background-color: #ffff;
    color: #2C7595;
    color: #C1231F;
    font-size: 2.3vh;
    border-radius: 1.3vh;
    border: 0;
    width: 18vw;
    height: 8vh;
    cursor: pointer;
    top: 110vh;
    right: 72vh;
    z-index: 6;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.centraliza .borda1 {
    position: absolute;
    right: 34vh;
    top: 92vh;
    padding: 10px 20px; 
    border: 5px solid rgb(255, 255, 255); 
    border-radius: 78vh; 
    width: 37vh;
    height: 37vh;
    z-index: 3;
   
}

.centraliza .obj5 {
    position: absolute;
    width: 40vh;
    height: 40vh;
    top: 88vh;
    right: 34vh;
    border-radius: 78vh;
    background-color: #252F46;
    z-index: 2;
   
}


.centraliza .borda2 {
    top: 138vh;
    position: absolute;
    padding: 10px 20px; 
    border: 5px solid rgb(255, 255, 255); 
    border-radius: 7vh;
    width: 66vw;
    height: 34vh;
    right: 31vh;
 
    
}
 
.centraliza .textinho{
   margin-top: 10vh;
   font-size: 2.1vh;
   background-color: #ffffff;
   border-radius: 4vh;
   width: 60vw;
   height: 20vh; 
   padding: 38px;
 /* Centralize horizontalmente */
   
}


.Forma .forma{
    margin-top: 5vh;
    position: absolute;
    border-bottom-right-radius: 67%;
    border-bottom-left-radius: 67%;
    background-color:  #2C7595;
    width: 100%;
    height: 47vh;
}

