.procura{
    background-color: #ffffff;
    height: 120vh;
    display: flex;
    align-items: center;
     flex-direction: column;
}

.procura .cards{
    display: grid;
    margin: 30px;
    margin-left: none;
    grid-template-columns: repeat(3, 25vw);
    align-items: center;
    justify-content: center;
}

.procura .filtro{
    display: flex;
    justify-content: space-evenly;
    width: 71vw;
    flex-direction: row;
    margin-top: 1vh;
    margin-left: 8vh;
    margin-right: 2vh;
    
}

