.procura{
    background-color: #F5F5DC;
    min-height: 90.8vh;
    max-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.procura .cards{
    display: grid;
    margin: 4vh;
    margin-left: none;
    grid-template-columns: repeat(3, 25vw);
    align-items: center;
    justify-content: center;
}

.procura .filtro{
    display: flex;
    justify-content: space-around;
    width: 81vw;
    flex-direction: row;
    margin-top: 1vh;
    margin-left: 13vh;
    margin-right: 2vh;
}

.favorito {
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90.8vh;
    max-width: auto;
}
.favorito .texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.0vh;
}

.favorito .cards{
    display: grid;
    margin: 4vh;
    margin-left: none;
    grid-template-columns: repeat(3, 25vw);
    align-items: center;
    justify-content: center;
}

.favorito .texto p{
    position: absolute;
    margin-top: 9vh;
    margin-bottom: none;
}

.texto img{
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
}