.corpo {
  background-color: #F5F5DC;
  min-height: 130vh;
  max-height: auto;
}


.corpo .info-usuario {
  height: 100%;
  width: 25vw;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.2); 
  border-radius: 3vh;
}

.corpo .ajuste {
  display: flex;
  align-items: center;
  width: 100%;
} 

.corpo .foto-usu {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  width: 20vh;
  height: 20vh;
  border-radius: 100%;
}


.corpo .endereco {
  background-color: white;
  border-radius: 0px;
  box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.2); 
  border-radius: 3vh;
  display: flex;
}

.calendario{
  display: flex;
  align-items: center;
}

.corpo .itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.2); 
  border-radius: 3vh;

  background-color: white;
  width: 65vw;
  height: 85vh;
}

.corpo .adiciona {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px;
  box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.2); 
  background-color: white;
  width: 60vw;
  height: 60vh;
  margin-bottom: 5vh;
}

.corpo .idoso {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}


.card {
  width: 90%;
  border-radius: 8px;
  margin-bottom: 3vh;
}

.ajuste {
  width: 15vh;
  height: 10vh;
  display: flex;
  direction: row;
  justify-content: space-around;
}

.ajuste .img {
  width: 10vh;
  /* margin-left: 12%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.botao-fixo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.corpo .foto-usu {
  object-fit: cover;
}



.texto h2 {
  font-size: 4vh;
  color: #077DB0;
}

.ajuste span {
  font-size: 3vh;
  margin-left: 2vh;
  margin-top: 0.5vh;
}