
.centralizar {
    height: 60vh;
    flex-direction: row;
    display: flex;
    align-items: center;


}
 .centralizar .pergunta{
    width: 67%;
    height: 90vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: #252F46;
}

.pergunta .texto{
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;

}

.pergunta h1{
    
    color: white;
    padding-bottom: 15vh;
}


.centralizar  img{
 margin-top: 3px;
width: 45vw;
height: 90vh;
margin-bottom: none;
}


