.card {
    margin-top: 5vh;
    margin-left: 20px;
    width: 365px;
    height:410px; 
    background-color:  #ffffff;
    color: #000000;
    border-radius: 0px;
    box-shadow: 10px 10px 10px #01072339;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.card .centro-top  {
display: flex;
flex-direction: row;
justify-content: start;
/* align-items: center; */
}

.card .centralizar {
display: flex;
align-items: center;
justify-content: space-around;
}

.card .centro-top img{
width: 16vh;
height: 16vh;
padding: 3px; 
}

.card .centro-top .Icons img{
    width: 3vh;
    height: 3vh;
    padding: 2px; 
}

.card .Icons{
    width: 22vh;
    height: 7vh;
    display: flex;
    justify-content: end;
    flex-direction: row;
}


.card .info{
    position: absolute;
    margin-left: 18vh;
    margin-top: 7vh;
    font-size: 1.9vh;
}

.card img{
 /* background-color:#252F46; */
margin-top: 1.6vh;
display: flex;
justify-content: start;
}

.card p{
font-weight: 300px;
font-size: 25px;
color: #252F46;
}

.card .centralizar  {
width: 34vh;
display: flex;
align-items: center;
flex-direction: column;
}


.card p{
    font-family: montserrat;
    font-weight: none;
    font-size: 2vh;
}

.card  button{
    background-color: #2C7595;
    color: #ffffff;
    font-size: medium;
    border-radius: 0.8vh;
    border: 0;
    width: 15vw;
    height: 7vh;
    cursor: pointer;
}

 
.card .centralizar button{
   display: flex;
   align-items: center;
}

h3{
    font-weight: none;
    font-style: none;
}
