.card-sidebar{
    display: flex;
    align-items: center;
    height: 100vh;
}


.card-sidebar .sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vh;
    height: 90vh;
    position: absolute;
    background-color: #252F46;
    border-radius: 1vh;
    margin-left: 2vh;
    transition: 0.5s;
}

.card-icons .opt-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.card-icons a{
    display: flex;
    color: white;
    width: 5vw;
    height: auto;
    cursor: pointer;
}

.card-icons img{
    width: 3vw;
    height: 6vh;
    cursor: pointer;
}

.card-icons span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-icons .iconOut{
    margin-top: 9vh ;
    margin-left: 0.5vh;
}

/* sidebarDash.module.css */
.card-sidebar {
    position: relative;
    z-index: 1000; /* Aumenta o valor do z-index para garantir que a sidebar esteja acima da máscara */
}


.sidebar {
    transition: width 0.3s;
    /* Adicione outros estilos conforme necessário */
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98; /* Deve estar abaixo da sidebar */
}