/* font */

@font-face {
    font-family: josefin;
    src: url(../../../utils/font/JosefinSlab-Italic-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: spartan;
    src: url(../../../utils/font/LeagueSpartan-VariableFont_wght.ttf);
  }


.logo{
    background-image: url(../../../utils/assets/logo.png);
    background-size: 100%;
    width: 40vh;
    height: 10vh;
}

/* header/navbar */

.header{
    background-color: #077DB0;
    padding: 1vh;
    display: flex;
    border-bottom: 0.2vh #ffff solid;
    justify-content: space-between;
    align-items: center;
}

.header div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: center;
}

.header img{
    width: 15vw;
}

.header div a{
    text-decoration: none;
    font-size: 3vh;
    font-weight: 500;
    color: #ffff;
}

.header div button{
    background-color: #ffff;
    color: #80C1DE;
    border-radius: 0.8vh;
    border: 0;
    width: 7vw;
    height: 5.5vh;
    cursor: pointer;
}

.header .opcoes{
    margin-left: 21vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .cadastro{
    display: flex;
    align-items: end;
    justify-content: end;
     
}

 .header .cadastro a{
        margin-right: 3vh;
        text-decoration: underline;
    }

.header .cadastro  img{
        padding-right: 2vh;
         width: 8.6vh;
        height: 8vh;
      
 }

.header .cadastro .icon{
    width: 4vh;
     height: 4vh;
     padding-bottom: 1.0vh;
  }


