.card {
    width: 65vw;
    height: 8vh;
    border-radius: 1vh;
    box-shadow: 2px 2px 2px  rgb(118, 118, 118);
    color: black;
    padding: 2%;
}

.card .conteudo{
    align-items: center;
    height: 100%;
    width: 100%;
}

.card .conteudo img{
    width: 6vh;
}

.card .conteudo .foto-doc{
    width: 4vw;
    height: 8vh;
    border-radius: 100%;
    background-color: #80C1DE;
}

.card .conteudo .toggle-button{
    height: 6vh;

}