
.empresa {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF2FB;
    border-bottom: #509CBD 0.7vh solid;
}

.empresa div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empresa h2{
    font-family: josefin;
    font-size: 3vh;
}

.empresa div h1{
    font-size: 8vh;
    font-weight: 100;
}

.linha{
    height: 0.7vh;
    background-color: #509CBD;
    width: 77vh;
}

.empresa .descricao{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.empresa .descricao p{
    width: 40%;
    font-size: 4vh;
    font-weight: 20;
    font-family: spartan;
}

.empresa .descricao img{
    width: 50%;
}