
.empresa {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF2FB;
    border-bottom: #509CBD 0.7vh solid;
}

.empresa div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empresa h2{
    font-family: spartan;
    font-size: 5vh;
    color: #252F46;
}

.empresa div h1{
    font-size: 8vh;
    font-weight: 100px;
}

.linha{
    height: 0.7vh;
    background-color: #509CBD;
    width: 77vh;
}


.empresa .descricao{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10vh;
    font-weight: 170;
    font-family: spartan;

}

.empresa .descricao p{
    width: 60%;
    font-size: 4vh;
    font-weight: 290;
    font-family: spartan;
}

.empresa .descricao img{
    width: 50%;
}

.empresa img{
    width: 578px;
    height: 444px;
    margin-bottom: 5vh;
}

.centralizar{
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.empresa spam{
    color: #930B07;
}