.footer{
    margin-top: 12vh;
     width: 100%;
     height: 70vh;
     flex-direction: column;
     display: flex;
      align-items: center;
     justify-content: center;
     background-color: #EDF2FB;
   
}


/* .footer .forma{
    border-bottom-right-radius: 87%;
    border-bottom-left-radius: 87%;
    background-color:  #2C7595;
    width: 100%;
    height: 35vh;
} */

.Informacoes{
     position: absolute;
     background-color: #ffffff;
     height: 28vh;
     width: 74vw;
     border-radius: 3vh;
     box-shadow: 0.8px 8px 17px #22222227;
    margin-bottom: 7vh;
}

.Informacoes .centraliza {
    padding: 4vh;
    padding-left: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Informacoes h1 {
    margin-top: 8vh;
   margin-left: 10vh;
}

.teste{
    margin-left: 10vh;
    height: 5vh;
}

.Info{
    margin-top: 49vh;
    width: 55vw;
    display: flex;
    flex-direction: row;
    height: 6vh;
    margin-right: 48vh;
}

.Info img{
    height: 2.7vh;
    width: 15vw;
    margin-left: 56vh;
    
}

.Info .opcoes {
    /* margin-left: vh; */
    font-size: 1.8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.opcoes a {
    margin-left: 9vh;
}

/* .Info .opcoes{
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: aqua; 
} */

 .linha{
    height: 0.3vh;
     background-color: rgba(43, 61, 81, 0.2) ;
     width: 73.7vw;    
 }

 .burocracia{
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 .burocracia img{
    margin-inline: 24vh;
 }

 .burocracia .privacy{
    margin-inline: 2.7vh;
 }

 .burocracia p{
    margin-top: 3vh;
 }


 /* @media screen and (max-width: 1910px) {
    .Info .opcoes {
        
        font-size: 1.8vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }

/*
.Info{
    margin-top: 49vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    height: 6vh;
    margin-right: 48vh;
    background-color: aqua;
}
    
} */