.container{
    width: 100%;
    height: 100Vh;
    display: flex;
    background-color: white;
    justify-content: flex-start;
}

.container .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container .card .fotousu{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
}

.container .card .fotousu span{
    width: 10vh;
    height: 10vh;
    background-color: #252F46;
    border-radius: 100%;
}

.container .card .inputs{
    display: flex;
    justify-content: center;
}

.container .card .btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .tela{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 100vh;
    width: 100%;
    
}
.tela  {
    padding-inline: 12px;
    padding-left: 46vh;
    /* align-items: center; */
}


.container .tela h2{
    width: 23vh;
    background-color: #252F46;
}

.container .tela .foto span{
    width: 10vh;
    height: 10vh;
    background-color: #252F46;
    border-radius: 100%;
}


 

.container .tela .box{
   display: flex;
   justify-content: center;
}

.container .tela .conversa{
    margin-top: 2.5vh;
 }




/* 
.container .card-sidebar .sidebar img{
    width: 8vh;
} */

