.container{
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: flex-start;
    color: #077DB0;
}

.container .card{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    width: 80%;
    margin-left: 15%;
}

.container .card .filtros p{
    text-align: center;
}

.container .card{
    padding-top: 5vh;
}

.container .card .tags{
    margin-left: 6vw;
}

.container .card .filtros .foto{
    width: 5vw;
    height: 10vh;
    border: 1px solid #80C1DE;
    border-radius: 100%;
}

.tipo-filtro{
    display: flex;
    align-items: center;
}