.cuidador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 172vh;
    background-color: #2C7595;
 
}

.cards{
    display: grid;
    margin: 12px;
    grid-template-columns: repeat(3, 25vw);
    padding: 30px;
    align-items: center;
    justify-content: center;
}



.cuidador  .btn{
    margin-top: 3vh;
    cursor: pointer;
}

.cuidador .centraliza{
    margin-top: 7vh;
    margin-right: 23vw;
    width: 40vw;
    height: 6vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cuidador .texto{
    color: #ffffff;
    font-size: 4vh;
    margin-right: 6vh;
}



   
   
