.container {
    display: flex;
    height: 100vh;
  }
  
  .leftSide {
    flex: 1;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .backButton {
    position: absolute;
    top: 40px;
    left: 40px;
    background: none;
    border: none;
    color: #2C7595;
    cursor: pointer;
    width: 50px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  p {
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .nextButton {
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #2C7595;
    color: white;
    border: none;
  }
  
  .rightSide {
    flex: 1;
    background-color: #2C7595;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rightSide img {
    height: 15%;
    max-width: 50%;
  }
  
  .spacing {
    margin-top: 20px;
    margin-bottom: 16px;
  }